<html>
<head>
</head>
<body>

<script>
var a=[];
a[0]="<a href='https://video.unext.jp/'>表示</a>";
a[1]="<a href='https://on-ze.com/demo/jquery-slit-slider/'>表示</a>";
a[2]="<a href='http://4webtbt.com/000360'>表示</a>";
var x;
x=Math.floor(Math.random()*3);
document.write(a[x]);
</script>

</body>
</html>